ul {
  list-style: none;
}

.collaper {
  display: flex;
  flex-flow: column;

  &__name {
    cursor: pointer;
    padding: .5em 0;
    width: 100%;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;


    &:hover {
      text-decoration: underline;
    }

    svg {
      transform: scale(1.8);
    }

  }

  &__content {
    padding-top: .5em;
  }

}
