@import "_config";

.control {
  padding: 0px 1em;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-flow: column;


    >section {
      width: 100%;
      // border: solid 1px black;
      display: flex;
      // justify-content: center;
      align-items: center;


      &:last-child {
        // border: solid 1px black;
        justify-content: flex-end;
      }
    }
  }

  .likeButton {
    padding-right: .4em;

    button {
      width: 3em;
      height: 3em;
      border-radius: 50em;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #D9D9D9;

      svg {
        margin-top: .14em;
        transform: scale(1.5);
      }
    }
  }

  .audio_title {

    h1,
    h6 {
      font-weight: 500
    }
  }

  .controlButtons {
    display: flex;
    justify-content: center;

    >div {
      display: flex;
      justify-content: center;
      align-items: center;


      button {
        height: 2em;
        width: 2em;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50em;
        border: none;
        // background-color: #D9D9D9;
        background-color: transparent;

        svg {
          transform: scale(1.3);

          path {
            fill: $primary-color;
          }
        }
      }

      >div:nth-child(2) {
        padding: 0px 1em;


        button {
          height: 3em;
          background-color: #D9D9D9;
          width: 3em;

          svg {
            transform-origin: center;
            margin-left: .2em;
            transform: scale(1.2);

            path {
              fill: $primary-color;
            }
          }
        }
      }
    }
  }

  .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {

      // padding: 0px .6em;
      &:last-child {
        padding-left: 1em;
      }

      button {
        background-color: transparent;
        border: none;
        transform: scale(1.5);
        transform-origin: center;
        height: 1.5em;
        width: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        // background: red;

        svg {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }

        :hover {
          background: blue;
        }
      }
    }
  }

  .timmer {
    font-size: .7rem;
    padding: 0px 1.5em;
    font-weight: 500;
  }

  .volume {
    display: flex;
    align-items: center;

    >div:last-child {
      width: 6em;
      // padding: 0px .4em;
    }

    >div:first-child {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        padding: .5em;
        padding-right: .8em;
        border: none;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      svg {
        pointer-events: none;
        transform: scale(2);

        path {
          fill: $primary-color;
        }
      }
    }
  }

}
