@import "config";



main.main {
  display: flex;
  flex-flow: row;
  // justify-content: center;
  align-items: center;
  height: 100vh;

  &>* {
    // style the Nav and the Panel
    // width: 100%;
    height: inherit;
  }

}
