@import "config";

.nav {
  width: 12em;
  padding: 1em 1em;
  background-color: $primary-color;

  &__container {
    padding-top: 1.4em;
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  &__content {
    height: inherit;
  }

  &__toggler {
    display: flex;

    >div {
      cursor: pointer;
      transform: scale(1.6);
      transform-origin: left;
    }
  }

  &__directory_container {
    padding-top: 2em;
  }

  &__dropdown-conatiner,
  &__playlist-container,
  & section:last-child {
    display: flex;
    flex-flow: column;
    padding-bottom: 3em;

    li {
      padding: .44em 0em;
      // font-weight: bolder;
      padding-left: .5em;
      color: white;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: .78rem;
      cursor: pointer;

      span:first-child {
        transform-origin: left;
        transform: scale(1.5);
        display: flex;
        flex-flow: column;
        // align-items: center;
      }


      button {
        width: 6em;
        color: white;
        margin-top: .5em;
        border-radius: .3em;
        border: dotted 1px white;
        background: transparent;
        padding: .2em 0;
        cursor: pointer;
      }

      span:last-child {
        padding-left: .8em;
      }

      &.active {
        font-weight: bolder;
      }

      span:first-child {
        padding-right: .5em;
      }
    }
  }

  section:not([class]) {
    padding-bottom: 0em;

    li {
      padding: .7em 0;
    }
  }
}


.nav.--closed {
  width: initial;

  .nav__toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    // background: purple;
    // transform-origin: center;
    //

    >div {
      transform-origin: center;
    }
  }

  .nav__playlist-container {
    display: flex;
    justify-content: center;
    align-items: center;

    span:first-child {
      padding-right: 0;
    }
  }

  button {
    display: none;
  }

  li {
    padding-left: 0 !important;
    padding: .8em 0;
    justify-content: center;

    span:first-child {
      transform-origin: center !important;
    }

    span:last-child {
      display: none;
    }

    span {
      padding: 0;
    }
  }

  .collaper__name {
    padding: 1.3em 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;

    >span:first-child {
      padding-right: 0;
      display: none;
    }
  }



  section:not([class]) {
    display: flex;
    justify-content: center;

    li {
      padding: .8em 0;
      display: flex;
      justify-content: center;
      align-items: center;

      >span:first-child {
        transform: scale(1.4);
        padding-right: 0;
        transform-origin: center;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          transform: scale(1);
          transform-origin: initial;
        }
      }
    }
  }

}
